<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="apiKey" value="fc3d77309af772843f4d7a8d23d27b7b" />
      <add key="ftpHost" value="ipAddressOrHost" />
      <add key="ftpPort" value="21" />
      <add key="ftpUserName" value="username" />
      <add key="ftpPassword" value="password" />
      <add key="ftpRemoteFolder" value="/Movies/Recorded" />
    </appSettings>
</configuration>